body {
  margin: 0 auto;
  width: 80%;
  background-color: white;
  text-align: center;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-between;
  border: 1px solid #dfe1e5;
  width: 265px;
  height: 375px;
  box-shadow: 1px 2px 3px 4px rgba(12,12,12,0.2)
}

.iframe-container {
  width: fit-content;
  margin-bottom: 5px;
  margin: 0;
}

iframe {
  border: none;
  border-bottom: 1px solid #ccc;
  width: "100%";
  height: "100%";
  border: "none";
  overflow: "hidden"; /* tried this to remove the scrollbar but it didnt work*/
  height: 234px;
}

.details-container {
  border-top: 1px solid #dfe1e5;
  white-space: nowrap;
}

.advertiser-name {
  color: #202124;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 16px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.impressions {
  display: flex;
  color: #555;
  margin-bottom: 5px;
  align-items: center;
  letter-spacing: 0.0142857143em;
  font-weight: 400;
  color: #3c4043;
  color: #5f6368;
  font-size: 12px;
  line-height: 0px;
  padding: 0 16px 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}
.impressions-numbers {
  font-weight: bold;
  margin: 6px;
}

.date-range {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  color: #555;

  letter-spacing: 0.0142857143em;
  font-weight: 400;
  color: #3c4043;
  color: #5f6368;
  font-size: 12px;
  line-height: 0px;
  padding: 0 16px 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}
.date-numbers {
  font-weight: bold;
  margin: 6px;
}
.spend-range {
  display: flex;
  align-items: center;
  color: #555;

  letter-spacing: 0.0142857143em;
  font-weight: 400;
  color: #3c4043;
  color: #5f6368;
  font-size: 12px;
  line-height: 0px;
  padding: 0 16px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}
.spend-numbers {
  font-weight: bold;
  margin: 6px;
}
